<template>
    <div class="vue-template" >
        <div class="container-fluid" >
            <div class="row justify-content-center" >
                <div class="col-sm-12" >
                    <div class="my-div" >
                        <div class="my-div-head" >
                            <div class="my-div-head-left" >
                                <h3>Smart map</h3>
                            </div>
                            <div class="my-div-foot-right" >
                                <button class="my-btn" v-on:click="logout" >Logout</button>
                            </div>
                        </div>
                        <div class="my-div-head" >
                            <div class="my-div-head-left" >
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Search info set
                                            </td>
                                            <td>
                                                <AutoCompleteTextView ref="awsForInfoSet" id="id" txt="name" :onItemClick="onInfoSetItemClick" :onTextClear="onInfoSetTextClear" ></AutoCompleteTextView>
                                            </td>
                                            <td>
                                                <span class="tag" v-for="(sis,i) in selectedInfoSets" >{{sis.name}} <i v-on:click="removeInfoSet(i)" class="fas fa-times-circle" ></i></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="my-div-foot-right" >
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span v-if="noOfComNotHaveLocation!==0" class="error" >{{noOfComNotHaveLocation}} companies don't have location</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="my-div-body" >
                            <div class="my-div-body-100" >
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            Search company
                                        </td>
                                        <td>
                                            <AutoCompleteTextView ref="awsForCom" id="id" txt="name" :onItemClick="onCompanyItemClick" :onTextClear="onCompanyTextClear" ></AutoCompleteTextView>
                                        </td>
                                        <td v-if="isCompanyDetailsOpen" >Name : {{markerInfo.name}}, Category : {{markerInfo.category}} - ({{markerInfo.categoryCode}}), Legal name : {{markerInfo.legalName}}, Trade name : {{markerInfo.tradeName}}</td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="my-div-body" >
                            <div class="my-div-body-100" >
                                <gmap-map :center="center" :zoom="10" style="width:100%;  height: 500px;" >
                                    <gmap-marker v-on:click="getPosition(c)"
                                         :key="index"
                                         v-for="(c,index) in companies"
                                         :label="{ text: index.toString(),color : 'white'}"
                                         :draggable="true"
                                         :position="c.location"></gmap-marker>

                                    <gmap-info-window @closeclick="isPosAddressInfoOpen=false"
                                                      :opened="isPosAddressInfoOpen"
                                                      :position="selectedMarkerPosition" >

                                        <div v-if="markerInfo" >
                                            <table class="my-tbl" >
                                                <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th>Description</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>{{markerInfo.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Category & code</td>
                                                    <td>{{markerInfo.category}} - ({{markerInfo.categoryCode}})</td>
                                                </tr>
                                                <tr>
                                                    <td>Legal name</td>
                                                    <td>{{markerInfo.legalName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Trade name</td>
                                                    <td>{{markerInfo.tradeName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Cnpj</td>
                                                    <td>{{markerInfo.cnpj}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Natureza juridica</td>
                                                    <td>{{markerInfo.naturezaJuridica}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Situacao</td>
                                                    <td>{{markerInfo.situacao}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <i v-else class="fas fa-sync fa-spin" ></i>
                                    </gmap-info-window>

                                </gmap-map>
                            </div>
                        </div>
                        <div class="my-div-foot" >

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <notification ref="noti" ></notification>
    </div>
</template>

<script>

    import Notification from "../common/Notification";
    import AutoCompleteTextView from "../common/AutoCompleteTextView";

    export default {
        name: "GoogleMap",
        components: {AutoCompleteTextView, Notification},
        mounted() {
            this.getInfoSet();
        },
        data(){
            return{
                appUrl : this.$store.state.appUrl,
                token : this.$store.state.session.token,
                infoSets: [],
                selectedInfoSets: [],
                companies: [],
                copyOfCompanies: [],
                companiesInfo: [],
                noOfComNotHaveLocation : 0,
                center: {
                    lat: 25.699035,
                    lng: 88.703594
                },
                selectedMarkerPosition : {},
                isPosAddressInfoOpen : false,
                isCompanyDetailsOpen : false,
                markerInfo : {
                    name : '',
                    category : '',
                    legalName : '',
                    tradeName : '',
                    cnpj : '',
                    categoryCode : '',
                    naturezaJuridica : '',
                    situacao : ''
                },
            }
        },
        methods: {
            logout(){

                this.$store.state.session.id = '';
                this.$store.state.session.token = '';
                this.$router.push({path: '/'});

            },
            getInfoSet(){

                this.$refs.noti.setNotificationProperty({
                    title : 'Loading',
                    bodyIcon : 'fas fa-sync fa-spin',
                    bodyMsg : 'Please wait ...',
                });

                this.$http.get(this.appUrl+"/info-sets",{
                    headers : {
                        Authorization: this.token
                    }
                })
                .then(response=>{

                    if (response.data.length>0){

                        this.infoSets = response.data;
                        this.$refs.awsForInfoSet.setOriginalList(this.infoSets);
                        console.log(JSON.stringify(this.infoSets));
                        this.$refs.noti.closeNotification();

                    }else {
                        this.$refs.noti.setNotificationProperty({
                            title : 'Error',
                            bodyIcon : 'fas fa-exclamation-circle',
                            bodyMsg : 'Info set getting error 1 !',
                            callBackMethod : this.getInfoSet,
                            needTryAgain : true,
                            status : 400
                        });
                    }

                })
                .catch(error=> {
                    console.log(error.status);
                    this.$refs.noti.setNotificationProperty({
                        title : 'Error',
                        bodyIcon : 'fas fa-exclamation-circle',
                        bodyMsg : 'Info set getting error 2 !',
                        callBackMethod : this.getInfoSet,
                        needTryAgain : true,
                        status : 400
                    });
                });

            },
            onInfoSetItemClick(obj) {

                console.log(JSON.stringify(obj));
                this.selectedInfoSets.push(obj);
                this.fetchCompanies(obj);

            },
            onInfoSetTextClear(obj){

                this.reset('full');

            },
            reset(which){

                if (which==='full'){

                    this.isCompanyDetailsOpen = false;
                    this.companies = [];
                    this.selectedInfoSets = [];
                    this.companiesInfo = [];
                    this.noOfComNotHaveLocation = 0;
                    this.center.lat = 25.699035;
                    this.center.lat = 88.703594;
                    this.isPosAddressInfoOpen = false;
                    this.markerInfo.category = '';
                    this.markerInfo.legalName = '';
                    this.markerInfo.tradeName = '';
                    this.markerInfo.cnpj = '';
                    this.markerInfo.categoryCode = '';
                    this.markerInfo.naturezaJuridica = '';
                    this.markerInfo.situacao = '';
                    this.selectedMarkerPosition = this.center;
                    this.$refs.awsForCom.setSearchText('');

                }

            },
            fetchCompanies(obj){

                this.$refs.noti.setNotificationProperty({
                    title : 'Loading',
                    bodyIcon : 'fas fa-sync fa-spin',
                    bodyMsg : 'Please wait ...',
                });

                this.$http.get(this.appUrl+"/info-sets/"+obj.id+"/companies?fields=location,category,registration",{
                    headers : {
                        Authorization: this.token
                    }
                })
                .then(response=>{

                    console.log(JSON.stringify(response.data));

                    if (Object.keys(response.data).length>0){

                        for (let i = 0; i < Object.keys(response.data).length; i++) {

                            if (response.data[i].location.lat){


                                this.companies.push(response.data[i]);

                            }else {

                                this.noOfComNotHaveLocation++;

                            }

                        }

                        if (this.companies.length>0){
                            this.center.lat = this.companies[0].location.lat;
                            this.center.lng = this.companies[0].location.lng;
                        }

                        this.$refs.awsForCom.setOriginalList(this.companies);
                        this.$refs.noti.closeNotification();

                    } else {

                        this.$refs.noti.setNotificationProperty({
                            title : 'Error',
                            bodyIcon : 'fas fa-exclamation-circle',
                            bodyMsg : 'Company getting error 1!',
                            callBackMethod : this.getInfoSet,
                            needTryAgain : true,
                            status : 400
                        });

                    }


                })
                .catch(error=> {
                    this.$refs.noti.setNotificationProperty({
                        title : 'Error',
                        bodyIcon : 'fas fa-exclamation-circle',
                        bodyMsg : 'Company getting error 2!',
                        callBackMethod : this.getInfoSet,
                        needTryAgain : true,
                        status : 400
                    });
                })
                .finally(f=>{

                    this.fetchInfoSetData(obj);

                })

            },
            removeInfoSet(pos){

                this.selectedInfoSets.splice(pos,1);

            },
            onCompanyItemClick(obj){

                this.copyOfCompanies = JSON.parse(JSON.stringify(this.companies));
                this.companies = [];

                this.center.lng = obj.location.lng;
                this.center.lat = obj.location.lat;
                this.companies.push(obj);
                this.getPosition(obj);


            },
            onCompanyTextClear(obj){

                this.companies = this.copyOfCompanies;

                this.isPosAddressInfoOpen = false;
                this.isCompanyDetailsOpen = false;

            },
            fetchInfoSetData(obj){

                this.$refs.noti.setNotificationProperty({
                    title : 'Loading',
                    bodyIcon : 'fas fa-sync fa-spin',
                    bodyMsg : 'Please wait ...',
                });

                this.$http.get(this.appUrl+"/users/me/data/info-sets//"+obj.id,{
                    headers : {
                        Authorization: this.token
                    }
                })
                .then(response=>{

                    console.log(JSON.stringify(response.data));

                    if (Object.keys(response.data).length>0){

                        this.companiesInfo = response.data;
                        this.$refs.noti.closeNotification();

                    }else {

                        this.$refs.noti.setNotificationProperty({
                            title : 'Error',
                            bodyIcon : 'fas fa-exclamation-circle',
                            bodyMsg : 'Info set getting error 2!',
                            needTryAgain : true,
                            status : 400
                        });

                    }

                })
                .catch(error=> {

                    this.$refs.noti.setNotificationProperty({
                        title : 'Error',
                        bodyIcon : 'fas fa-exclamation-circle',
                        bodyMsg : 'Info set getting error 2!',
                        needTryAgain : true,
                        status : 400
                    });

                });
            },
            getPosition(c){

                this.isCompanyDetailsOpen = true;
                this.selectedMarkerPosition = c.location;
                this.isPosAddressInfoOpen = true;

                this.markerInfo.name = c.name;
                this.markerInfo.category = c.category;
                this.markerInfo.legalName = c.registration.legal_name;
                this.markerInfo.tradeName = c.registration.trade_name;
                this.markerInfo.cnpj = c.registration.cnpj;
                this.markerInfo.categoryCode = c.registration.category_code;
                this.markerInfo.naturezaJuridica = c.registration.natureza_juridica;
                this.markerInfo.situacao = c.registration.situacao;

            }
        }
    }
</script>

<style scoped>
    .tag{
        background-color: green;
        padding: 3px 10px;
        margin-left: 3px;
        font-size: 10px;
        color: white;
        border-radius: 3px;
    }
    .error{
        background-color: red;
        padding: 3px 10px;
        margin-left: 3px;
        font-size: 10px;
        color: white;
        border-radius: 3px;
    }
</style>
