<template>
    <div class="vue-template" >
        <div class="container-fluid" >
            <div class="row justify-content-center" >
                <div class="col-sm-3" >
                    <div class="my-div" >
                        <div class="my-div-head" >
                            <div class="my-div-head-left" >
                                <h3>Login</h3>
                            </div>
                        </div>
                        <div class="my-div-body" >
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Email</td>
                                        <td><input required type="email" v-model="user.email" /></td>
                                    </tr>
                                    <tr>
                                        <td>Password</td>
                                        <td><input required type="password" v-model="user.password" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="my-div-foot" >
                            <div class="my-div-foot-left" >
                                <button class="my-btn" v-on:click="loginAttempt" >Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <notification ref="noti" ></notification>
    </div>
</template>

<script>

    import Notification from "../common/Notification";

    export default {
        name: "LoginReg",
        components: {Notification},
        data(){
            return{
                user : {
                    id : '',
                    email : '',
                    password : ''
                },
                appUrl : this.$store.state.appUrl
            }
        },
        methods:{
            loginAttempt(){

                this.$refs.noti.setNotificationProperty({
                    title : 'Loading',
                    bodyIcon : 'fas fa-sync fa-spin',
                    bodyMsg : 'Please wait ...',
                });

                this.$http.post(this.appUrl+"/sessions",{
                    email : this.user.email,
                    password : this.user.password
                })
                .then(response=>{

                    if (response.data.session) {

                        this.user.id = response.data.user.id;
                        this.$store.state.session.token = response.data.session.token;
                        this.$store.state.session.id = response.data.session.id;

                        this.$refs.noti.closeNotification();
                        this.$router.push({path: '/google-map'});

                    }else {

                        this.$refs.noti.setNotificationProperty({
                            title : 'Error',
                            bodyIcon : 'fas fa-exclamation-circle',
                            bodyMsg : 'Login fail',
                            callBackMethod : this.loginAttempt,
                            needTryAgain : true,
                            status : 400
                        });

                    }

                })
                .catch(error=> {
                    console.log(error.status);
                    this.$refs.noti.setNotificationProperty({
                        title : 'Error',
                        bodyIcon : 'fas fa-exclamation-circle',
                        bodyMsg : 'Login fail',
                        callBackMethod : this.loginAttempt,
                        needTryAgain : true,
                        status : 400
                    });
                });

            },
        }
    }
</script>

<style scoped></style>
