<template>
    <div class="my-actv-container" >
        <div class="search-box" >
            <input v-on:keyup="onKeyUpChangeListener(searchText)" v-model="searchText" style="padding: 3px;border: 1px solid lightgray;border-radius: 3px;width: 100%" >
            <i v-on:click="onComTextClearListener" class="fa fa-times-circle text-clear"></i>
        </div>
        <div class="suggestion-list" v-show="isSuggestionListOpen" >
            <ul>
                <li v-on:click="onComItemClickListener(l)" v-for="l in filteredList" >{{l[txt]}}</li>
            </ul>
        </div>
    </div>
</template>

<script>

    export default {
        name: "AutoCompleteTextView",
        props: {
            list : {
                type: Array,
            },
            onItemClick: {
                type: Function,
                default() {
                    return function (l) {};
                }
            },
            onTextClear: {
                type: Function,
                default() {
                    return function (l) {};
                }
            },
            id : {
                type : String
            },
            txt: {
                type : String
            },
            pos: {
                type : Number
            }
        },
        data(){
            return{
                isSuggestionListOpen : false,
                searchText : '',
                selectedObj : '',
                filteredList : [],
                originalList : []
            }
        },
        mounted(){

            this.originalList = this.list;

        },
        methods : {
            setSearchText(txt){
                this.searchText = txt;
            },
            reset(){
                this.searchText = '';
                this.selectedObj = '';
            },
            setSelectedObj(obj){

                this.selectedObj = obj;

            },
            setOriginalList(l){

                this.originalList = [];
                this.originalList = l;

            },
            onKeyUpChangeListener(searchText){

                this.isSuggestionListOpen = true;
                this.filteredList = this.originalList.filter(
                    l=>l[this.id].toString().match(searchText.toLowerCase()) || l[this.txt].toLowerCase().match(searchText.toLowerCase())
                );

            },
            onComTextClearListener(){

                this.searchText = "";
                this.isSuggestionListOpen = false;

                this.onTextClear(this.selectedObj);
                this.selectedObj = '';

            },
            onComItemClickListener(l){

                this.selectedObj = l;
                l['pos']=this.pos;

                this.onItemClick(l);
                this.searchText = l[this.txt];

                this.isSuggestionListOpen = false;

            }
        }
    }
</script>

<style scoped>
    .my-actv-container{
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        border-radius: 3px;
        position: relative;
    }
    .search-box{
        padding: 3px 5px;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    .text-clear{
        padding-left: 5px;
    }
    .suggestion-list{
        position: absolute;
        background-color: darkgoldenrod;
        margin-top: 30px;
        overflow-y: scroll;
        width: 100%;
        max-height: 300px;
        z-index: 1;
        color: white;
        border: 8px solid lightgrey;
        border-radius: 3px;
    }
    .suggestion-list > ul{
        list-style: none;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .suggestion-list > ul > li{
        border-top: 1px solid #b99206;
        padding: 3px;
        cursor: pointer;
        font-size: 12px;
    }
    .suggestion-list > ul > li:hover{
        padding-left: 10px;
        transition: 0.5s;
    }
</style>
