<template>
    <div class="vue-template" >
        <transition name="slide-fade" >
            <div class="notification-modal" v-if="isNotificationOpen" >
                <div class="notification-area" >
                    <div v-bind:style="notificationProperty" class="notification-con" >
                        <div class="notification-head" >
                            <div class="notification-head-left" >
                                <i v-if="notificationProperty.titleIcon" :class=notificationProperty.titleIcon ></i> &nbsp;
                                <h3 v-if="notificationProperty.title" >{{notificationProperty.title}}</h3>
                            </div>
                            <div class="notification-head-right" >
                                <i class="fas fa-times-circle" v-on:click="closeNotification" ></i>
                            </div>
                        </div>
                        <div class="notification-body" >
                            <div class="notification-body-icon" >
                                <i v-bind:style="bodyIconColor" v-if="notificationProperty.bodyIcon" :class=notificationProperty.bodyIcon ></i>
                            </div>
                            <div class="notification-body-msg" >
                                <p v-if="notificationProperty.bodyMsg" >{{notificationProperty.bodyMsg}}</p>
                            </div>
                        </div>
                        <div class="notification-foot" >
                            <div class="notification-foot-left" ></div>
                            <div class="notification-foot-right" >
                                <button v-if="notificationProperty.needTryAgain" class="notification-foot-btn btn-try-again" v-on:click="tryAgain" >Try again</button>
                                <button v-if="notificationProperty.needOk" class="notification-foot-btn btn-ok" v-on:click="closeNotification" >Ok</button>
                                <button v-if="notificationProperty.needYesNo" class="notification-foot-btn btn-try-again" v-on:click="notificationYes" >Yes</button>
                                <button v-if="notificationProperty.needYesNo" class="notification-foot-btn btn-ok" v-on:click="notificationNo" >No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "Notification",
        props: {
            onClose: {
                type: Function,
                default() {
                    return function () {};
                }
            }
        },
        mounted(){
            this.notificationProperty.needFooter = true;
        },
        data(){
            return {
                isNotificationOpen : false,
                isConfirm : false,
                notificationProperty : {
                    title : '',
                    titleIcon : '',
                    bodyIcon : '',
                    bodyMsg : '',
                    width : '100%',
                    callBackMethod:{},
                    needOk : false,
                    needTryAgain : false,
                    needYesNo : false,
                    code : 200
                },
                bodyIconColor:{
                    color: ""
                }
            }
        },
        methods:{
            closeNotification(){
                this.isNotificationOpen = false;
                this.onClose();
            },
            showNotification(){
                this.isNotificationOpen = true;
            },
            tryAgain(){
                this.notificationProperty.callBackMethod();
            },
            setNotificationProperty(notificationProperty){

                this.isNotificationOpen = true;

                this.notificationProperty.title = notificationProperty.title;
                this.notificationProperty.titleIcon = notificationProperty.titleIcon;
                this.notificationProperty.bodyIcon = notificationProperty.bodyIcon;
                this.notificationProperty.bodyMsg = notificationProperty.bodyMsg;
                this.notificationProperty.width = notificationProperty.width;

                this.notificationProperty.callBackMethod = notificationProperty.callBackMethod;

                this.notificationProperty.needTryAgain = notificationProperty.needTryAgain;
                this.notificationProperty.needOk = notificationProperty.needOk;
                this.notificationProperty.needYesNo = notificationProperty.needYesNo;

                this.notificationProperty.code = notificationProperty.code;

                if (this.notificationProperty.code===404){
                    this.bodyIconColor.color = "red";
                }else if (this.notificationProperty.code===200){
                    this.bodyIconColor.color = "green";
                }else {
                    this.bodyIconColor.color = "gray";
                }

                this.isConfirm = !this.isConfirm;
                return this.isConfirm;

            },
            notificationYes(){

                this.notificationProperty.callBackMethod();
                // this.isNotificationOpen = false;

            },
            notificationNo(){

                this.isNotificationOpen = false;

            }

        }
    }
</script>

<style scoped>
    .notification-modal {
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }
    .notification-area{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .notification-con{
        color: black;
        background-color: white;
    }
    .notification-head{
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid #dddddd;
        background-color: darkgoldenrod;
        color: white;
    }
    .notification-head-left{
        display: flex;
        align-items: baseline;
    }
    .notification-head-right{
        cursor: pointer;
    }
    .notification-body{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
    }
    .notification-body-icon{
        font-size: 30px;
        padding: 10px;
    }
    .notification-body-msg{

    }
    .notification-foot{
        padding: 10px;
        border-top: 2px solid #dddddd;
        display: flex;
        font-family: Armata;
    }
    .notification-foot-left{
        display: flex;
        flex: 50%;
    }
    .notification-foot-left{
        display: flex;
        flex: 50%;
    }
    .notification-foot-btn{
        cursor: pointer;
        padding: 7px 15px;
        background-color: grey;
        border: none;
        color: white;
        border-radius: 3px;
    }
    .btn-ok{
        background-color: darkgoldenrod;
        color: white;
        font-family: Armata;
    }
    .btn-try-again{
        background-color: darkolivegreen;
        color: white;
        font-family: Armata;
    }
    .slide-fade-enter-active {
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

    .slide-fade-leave-active {
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

    .slide-fade-enter,
    .slide-fade-leave-to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
    }
</style>